<h1>Delicious Recipes</h1>

<section>
  <h2>Recipes</h2>

  <button
    type="button"
    [routerLink]="['/add-recipe']"
    style="margin-bottom: 8px"
  >
    Add recipe
  </button>

  <div class="recipe-grid">
    <!-- <app-recipe-card [recipe]="recipes[0]"></app-recipe-card>
    <app-recipe-card [recipe]="recipes[0]"></app-recipe-card>
    <app-recipe-card [recipe]="recipes[0]"></app-recipe-card> -->

    @for (recipe of recipes; track recipe.id) {
    <app-recipe-card
      [recipe]="recipe"
      (imageClickEvent)="clickedImage($event)"
    ></app-recipe-card>

    <!-- [routerLink]="['/recipes', recipe.id]" -->
    }
  </div>
</section>
